body{
    background: #ffffff;
}
h1{
   text-aling: center;
}

p{
    text-align: center;
}

strong {
    color:rgb(197, 10, 10);
}
h2{
    text-align: center;
}
title{
    text-align: center;
}
strong {
    color:rgb(10, 23, 197);
}